<div>
                    <img src="/images/amethyst.jpg">
                    <p>Name: {{name}}</p>
                    <p>Category: {{category}}</p>
                    <a class="details-btn" href="/items/{{_id}}/details">Details</a>
                </div>